.section-four {
    padding: 64px 16px;
    .section-four__container {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            padding: 0 32px;
            color: #333333;
            font-size: 24px;
            text-align: center;
            font-weight: 600;
            line-height: 1.25;
                @include tablet {
                    margin: 0 15%;
                }
                @include desktop {
                    font-size: 36px;
                    margin: 0 36%;
                }
        }
    }

}