.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 16px;

    background-image: linear-gradient(to bottom right,#e02aff, #c12127, #ff4b01, #fb8817);

        .section-one__container {
            @include tablet {
                max-width: 80%;
            }
            @include desktop {
                max-width: 35%;
            }

            h1 {
                font-size: 48px;
                font-weight: 600;
                line-height: 1.25;
                text-align: center;
                color: #fff;
                margin-bottom: 30px;
                    @include tablet {
                        font-size: 80px;
                        margin: 45px 0;
                    }
            }
    
            .section-one__content {
    
                
        
                h2{
                    font-family: Poppins,sans-serif;
                    font-size: 24px;
                    text-align: center;
                    color: #fff;
                    margin: 20px 0;
                    line-height: 1.25;
                    font-weight: 600;
                        @include tablet {
                            margin: 20px 20px;
                        }
                        @include desktop {
                            font-size: 36px;
                            margin: 20px 20px;
                        }
                }
        
                p {
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                    font-family: 'Arimo', sans-serif;
                    line-height: 1.5;
                        @include tablet {
                            margin: 0 25px;
                        }
                        @include desktop {
                            margin: 0 40px;
                        }
                }
    
                .section-one__content__links {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    margin-top: 64px;
                        div {
                            padding: 16px 32px;
                            margin: 10px 10px;
                            width: 100%;
                            background-color: #cb3837;
                            border-radius: 50px;
                            text-align: center;
                            line-height: 1.5;
                            max-width: 21rem;
                                @include tablet {
                                    max-width: 16rem;
                                }
    
                            .section-one__content__links__one{
                                font-weight: 700;
                            }
    
                            .section-one__content__links__two {
                                color: #fff;
                                font-weight: 700;
                            }
                            
                                
                        }
    
                        .content__links__div_one {
                            background-color: #FFC329;
                            box-shadow: 0px 10px 30px rgb(0 0 0 / 40%);   
                        }
    
                        .content__links__div_two {
                            border: 2px solid #fff;    
                        }
                }
            }
        }

        

        

        
}