// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import "./mixins";

@import "./variables";

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
