.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid $border-color;
    padding: 10px 0;
     @include tablet {
         flex-wrap: nowrap;
     }
     @include desktop {
         justify-content: space-evenly;
     }
     .navbar__logo {
         width: 80px;
         margin: 16px 15px;
         display: flex;
         justify-content: center;    
     }

     .navbar__search {
         width: 100%;
         order: 3;
            @include tablet {
                order: unset;
                width: 48%;
            }
            @include desktop {
                width: 65%;
            }
          .nav-form {
              display: flex;
              padding: 5px 8px;
              margin-top: 2px;
              .nav-form__container {
                  display: flex;
                  padding: 8px 16px;
                    @include tablet {
                        padding: 0;
                    }
                .form__container__wrapper {
                      display: flex;
                      justify-content: end;
                      background: #f2f2f2;
                      @include desktop {
                          width: 60rem;
                      }
                      
                      span {
                        padding: 10px 4px 0 16px; 
                        float: left;

                        svg {
                          width: 18px;
                          height: 18px;
                          opacity: 0.2;
                        }
                      }

                      input {
                        background: none;
                        font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
                        font-size: 16px;
                        letter-spacing: 0px;
                        border: none;
                        height: 53px;
                        padding-left: 10px;
                        width: calc(100% - 10px);
                      }
                }
                .nav-form__button {
                    font-weight: bold;
                    letter-spacing: 0.3px;
                    background-color: #231f20;
                    padding: 8px 32px;
                    color: #fff;
                    font-size: 14px;
                    
                }
              }
          }
     }

     .navbar__sign {
        display: flex;

        a {
            font-size: 14px;
            font-weight: 500;
        }

        a:hover {
            color: #000000B3;
          }

        .navbar__signup {
            padding: 13px 28px;
            border: 1px solid #cccccc;
        }

        .navbar__signin {
            padding: 10px 28px;
        }
     }
}